{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{% static "auctions/css/materialize.css" %}"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

    <nav class ="grey", role="navigation">

          <a href="{% url "index" %}" class="brand-logo">Auctions</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url "index" %}">Active Listings</a></li>
                <li><a href="{% url "categories" %}">Categories</a></li>
                <li><a href="{% url "new_auction" %}">New Auction</a></li>
                <li><a href="{% url "watchlist" %}">Watchlist</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url "login" %}">Log in</a></li>
                    <li><a href="{% url "register" %}">Register</a></li>
                {% endif %}
          </ul>

    </nav>

{#<h1>Auctions</h1>#}
{#<div>#}
{#    {% if user.is_authenticated %}#}
{#        Signed in as <strong>{{ user.username }}</strong>.#}
{#    {% else %}#}
{#        Not signed in.#}
{#    {% endif %}#}
{#</div>#}
{#<ul class="nav">#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'index' %}">Active Listings</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'new_auction' %}">New auction</a>#}
{#    </li>#}
{#    {% if user.is_authenticated %}#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>#}
{#        </li>#}
{#    {% else %}#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'login' %}">Log In</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'register' %}">Register</a>#}
{#        </li>#}
{#    {% endif %}#}
{#</ul>#}
{#<hr>#}

        <main>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </main>



        <script type="text/javascript" src="{% static "auctions/js/materialize.js" %}"></script>
        <script type="text/javascript" src="{% static "auctions/js/init.js" %}"></script>

    </body>
</html>
